.contenedor1 {
    display: flex;
    justify-content: right;
    background-color: darkmagenta;
    height: 80px;
}

.contenedor2 {
    display: flex;
    flex-direction: column;
    background-color: black;
    width: 80px;
    height: 152px;
}

.caja {
    color: black;
    border: 5px outset;
    border-color: orange;
    width: 60px;
    height: 25px;
    margin: 5px;
    background-color: orange;
    text-align: center;
}

.caja2 {
    color: black;
    background-color: orange;
    border: 5px outset;
    border-color: orange;
    width: 60px;
    margin: 5px;
    text-align: center;

}

#nav {
    background-color: lightgray;
}
#nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

#nav ul li {
    background-color: orange;
    padding: 2%;
    border: 5px solid grey;
}

#nav ul li:hover {
    background-color: orangered;
}

#nav ul li a{
    color: black;
    text-decoration: dotted;
}